<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8">
<title>Vets Index Page</title>
</head>
<body>

	<h1 th:text="'List of Vets'"></h1>


	<table id="vets" class="table table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>

		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet?.id}"></td>
				<td th:text="${vet?.firstName}"></td>
				<td th:text="${vet?.lastName}"></td>
			</tr>
		</tbody>

	</table>

</body>
</html>